textarea {
  resize: none;
}
form.inscription {
  margin-top: 8px;
}
input {
  margin-bottom: 8px;
}
button.inscription {
  margin-top: 8px;
}
table {
  border-collapse: collapse;
  min-width: 1280px;
  width: 95%;
}
table tr td {
  text-align: center;
}
td,
th {
  padding: 5px;
}
table tr,
table tr td {
  border: 2px solid grey;
}
